// TODO: make the button less ugly

$border: 2px solid grey;

.grid-wrapper {
  text-align: center;
  max-height: 400px;
  min-height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; 
}
  
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.grid-0-0 {
  border-right: $border;
  border-bottom: $border;
}

.grid-0-1 {
  border-left: $border;
  border-bottom: $border;
  border-right: $border;
}

.grid-0-2 {
  border-left: $border;
  border-bottom: $border;
}

.grid-1-0 {
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
}

.grid-1-1 {
  border: $border;
}

.grid-1-2 {
  border-top: $border;
  border-left: $border;
  border-bottom: $border;
}

.grid-2-0 {
  border-top: $border;
  border-right: $border;
}

.grid-2-1 {
  border-left: $border;
  border-top: $border;
  border-right: $border;
}

.grid-2-2 {
  border-top: $border;
  border-left: $border;
}

.grid-item {
  line-height: 120px;
  width: 120px;
  height: 120px 
}

.grid-item img {
  vertical-align: middle;
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item.active:hover {
  cursor: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.options-display {
  position: absolute;
  text-align: right;
  top: 0;
  right: 5px;
}

.win-wrapper {
  margin-top: 20px;
}

#winMsg, #replayBtn {
  display: none; 
}

p {
  margin-bottom: 0;
}