.grid-wrapper {
  text-align: center;
  max-height: 400px;
  min-height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto; }

.grid-0-0 {
  border-right: 2px solid grey;
  border-bottom: 2px solid grey; }

.grid-0-1 {
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey; }

.grid-0-2 {
  border-left: 2px solid grey;
  border-bottom: 2px solid grey; }

.grid-1-0 {
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey; }

.grid-1-1 {
  border: 2px solid grey; }

.grid-1-2 {
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey; }

.grid-2-0 {
  border-top: 2px solid grey;
  border-right: 2px solid grey; }

.grid-2-1 {
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-right: 2px solid grey; }

.grid-2-2 {
  border-top: 2px solid grey;
  border-left: 2px solid grey; }

.grid-item {
  line-height: 120px;
  width: 120px;
  height: 120px; }

.grid-item img {
  vertical-align: middle; }

.grid-item:hover {
  cursor: pointer; }

.grid-item.active:hover {
  cursor: auto; }

.button-wrapper {
  display: flex;
  justify-content: center; }

p, button {
  display: none; }

p {
  margin-top: 10px; }
